.forgot-password {
    margin-top: 65px;
  
    .input-group {
      position: relative; 
      width: 500px;
      margin-bottom: 25px;
    }
  
    input {
      width: 100%; 
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 0 10px #888888;
      font-size: 16px;
    }
  
    .icon-password {
      position: absolute; 
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      width: 20px;
      height: 20px;
    }
  }
  