.content-order-receive{
    margin-top: 5px;
    margin-bottom: 30px;
    h4{
        font-weight: bold;
        font-family: cursive;
     }
     .method-payment{
        h5{
            margin:5px 0 0 -5px;
            font-weight: bold;
            font-family: cursive;
         } 
         svg{
            height: 21px;
            width: 40px;
            margin: 9px 0 0 0;
            }
     }
    .checkout-summary{
            h4{
                margin-top: 7px;
                margin-left: -4px;
            }
            .image-order-details{
                padding: 0;
                img{
                    width: 100px;
                    height: auto;
                }
            }
            .content-order-details{
                padding: 0;
                margin-left: -10px;
                p{
                    color: orange;
                    font-weight: bold;
                }
            }
            .price-course{
                p{
                    margin: 0;
                }
                .new-price{
                    font-weight: bold;
                }
                .old-price{
                    font-weight: bold;
                    color: #9e9e9e;
                }
            }
            .wrapper-order-details{
                width: auto;
                height: auto;
                padding: 30px;
                border: 2px solid #9e9e9e;
            }
            .total-price{
                margin-left: -10px;
                border-bottom: 2px solid #9e9e9e;
                .discount
                {
                    margin-bottom: 15px;
                    border-bottom: 2px solid #9e9e9e;
                }
            }
    }

.order-info {
    margin-top: 40px;
    padding: 16px;
    background-color: #f9f9f9;
    border: 2px solid #ccc;
    border-radius: 30px;
    .order-icon {
        margin-right: 8px;
        color: #ff9800;
        font-size: 24px;
      }
      .check-icon {
        margin-right: 5px;
        color: #5cb85c;
        font-size: 20px;
      }
    h4 {
      font-family: cursive;
      font-weight: bold;
      margin-bottom: 10px;
    }
  
    p {
      font-size: 16px;
      margin: 5px 0;
      font-weight: bold;
      color: #333;
  
      &.thank-you-message {
        display: flex;
        align-items: center;
        font-family: cursive;
        color: #5cb85c;
        font-size: 18px;
      }
    }
  }

}