.wrapper-transaction {
    padding: 20px;
    margin-bottom: 102px;
  }
  
  .transaction-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .transaction-table th,
  .transaction-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .transaction-table th {
    background-color: #f2f2f2;
  }
  
  .status {
    font-weight: bold;
    &.success {
      color: green;
    }
    &.pending {
      color: orange;
    }
    &.fail {
      color: red;
    }
  }
  .no-transaction {
    text-align: center;
    padding: 50px 20px;
    color: #ff6b6b; /* Màu nổi bật */
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #fff5f5; /* Màu nền nhẹ */
    border: 2px dashed #ff6b6b; /* Đường viền nổi bật */
    border-radius: 10px;
    margin-top: 20px;
  
    p {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px; /* Khoảng cách giữa icon và chữ */
    }
  }
  
  