.tippy-box {
    background-color: #1d71ab;
    color: #fff; 
    border-radius: 8px; 
    padding: 8px 12px;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .tippy-arrow {
    color: #1d71ab; 
  }
  .tippy-box.custom {
    background-color: #1d71ab;
    color: white; 
  }
 