.forgot-password {
    margin-top: 65px;
    .input-forgot {
        width: 500px;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0 0 10px #888888; 
        display: block;
        margin-bottom: 25px;
    }
}
