.wrapper-register-instructor{  
    background-color: #ccc;
    background: linear-gradient(#00000080, #00000080), url('../../../images/login_background.png');
     .form-container {
         margin: auto;
         display: flex;
         justify-content: center; 
         align-items: center;    
         height: auto;  
         background-color: #f9f9f9;
         padding: 20px;            
         border-radius: 10px;     
         box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
         width: 450px;    
         input{
             width: 100%;
             padding: 10px;
             margin-bottom: 10px;
             border-radius: 5px;
             border: 1px solid #ccc;
             outline: none;
             transition: border-color 0.3s ease;
         }         
       }
       .button-regis{
        display: flex;
        justify-content: space-between;
      }
 }