.avatar{
    img{
        margin-left: -2px;
        margin-top: 20px;
        margin-bottom: 30px;
        width: 400px;
        height: auto;
        border-radius: 15px;
    }    
}
.content{
    margin-bottom: 30px;
    margin-top: 20px;
    height: auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}
.list-course{
    margin-bottom: 40px;
    h4{
        color: #1d71ab;
    }
    .image-course {
      position: relative;
      border: 1px solid grey;
      margin-top: 5px;
      margin-bottom: 25px;
      width: 90% !important;
      margin-left: 18px;
      img {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
      }
  
      .content-image {
        margin-left: 15px;
        border-bottom: 1px solid #dee2e6;
      }
  
      h5 {
        color: #0067a7;
        font-weight: bold;
        font-size: 17px;
        line-height: normal;     
        &:hover {
          color: red;
        }
      }
    }
  
    .image-avatar {
      display: flex;
      align-items: center; 
      border-bottom: 1px solid #dee2e6;  
      img {
        margin-top: 10px;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        margin-left: 15px;
      }
    }
  
    .heart-icon {
      position: absolute;
      top: -7px;
      right: 0px;
      font-size: 24px;
      color: black;
      cursor: pointer;
  
      &:hover {
        color: red;
      }
    }
  
    .info-instructor-span {
      margin-left: 10px;
      color: black;
      font-size: 13px;
    }
  
    .button-cart{
        width: 100%;
      }
      .text-price {
        margin-left: auto; 
        font-size: 14px;
        font-weight: bold;
        color: #ff5722;
      }
        
}

    